{% extends 'base.html' %} {% load static %}

{% block content %} 

<!-- Main Section -->
<div class="d-flex" style="margin-top: 50px" id="main-section">
  <div class="col-7 mt-5">
		<h1 class="fw-bold">Let’s Hack The Climate Through Education!</h1>
		<h2 class="fs-4">Elevate your knowledge through environmental related course here, and let’s hack the climate with us for the better world!</h2>
		<button type="button" class="btn get-started-btn my-5">
			<a class="text-white fw-bold text-decoration-none p-3" href="{% url 'page:homepage' %}">Get Started</a>
		</button>
		<button type="button" class="btn pricing-btn my-5 mx-3">
			<a class="fw-bold text-decoration-none p-3" href="#pricing-section">Pricing</a>
		</button>
	</div>
	<div class="col-5">
		<img class="img-fluid" src="{% static 'img/cc1.png' %}" alt="ClimateCare" />
	</div>
</div>

<!-- About Us Section -->
<div class="px-5" style="margin-top: 100px" id="about-us-section">
  <div class="col-12 text-center">
		<h1 class="fw-bold">About Us</h1>
		<h2 class="fs-4 my-5"><b>ClimateCare</b> is a platform to learn everything related to climate change. Our goals is to educate people to be more sensitive and willing to take steps with us in fighting climate change for the common good and a better earth through education.</h2>
	</div>
	<div class="d-flex text-center">
		<div class="col-3">
			<span class="fa-stack fa-3x about-us-content-logo">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fa-solid fa-earth-asia fa-stack-1x"></i>
			</span>
			<h3 class="fs-5 fw-bold mt-3">Hack the climate!</h3>
		</div>
		<div class="col-3">
			<span class="fa-stack fa-3x about-us-content-logo">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fa-solid fa-location-dot fa-stack-1x"></i>
			</span>
			<h3 class="fs-5 fw-bold mt-3">Learn anywhere</h3>
		</div>
		<div class="col-3">
			<span class="fa-stack fa-3x about-us-content-logo">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fa-solid fa-clock fa-stack-1x"></i>
			</span>
			<h3 class="fs-5 fw-bold mt-3">Learn anytime</h3>
		</div>
		<div class="col-3">
			<span class="fa-stack fa-3x about-us-content-logo">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fa-solid fa-people-group fa-stack-1x"></i>
			</span>
			<h3 class="fs-5 fw-bold mt-3">Meet other learners</h3>
		</div>
	</div>
</div>

<!-- Program Section -->
<div class="text-center" style="margin-top: 100px" id="program-section">
	<h1 class="fw-bold">Program</h1>
	<div class="d-flex justify-content-evenly mt-5 pt-5">
		<div class="card program-card p-3 shadow">
			<span class="fa-stack fa-4x program-card-logo">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fa-solid fa-graduation-cap fa-stack-1x"></i>
			</span>
			<h2 class="fw-bold">Climate Course</h2>
			<div class="card-body">
				<p class="card-text">Learning with us and hack the climate!</p>
			</div>
		</div>
		<div class="card program-card p-3 shadow">
			<span class="fa-stack fa-4x program-card-logo">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fa-solid fa-bullhorn fa-stack-1x"></i>
			</span>
			<h2 class="fw-bold">Campaign</h2>
			<div class="card-body">
				<p class="card-text">Want to make an impact? Start your campaign now</p>
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-evenly mt-5 pt-5">
		<div class="card program-card p-3 shadow">
			<span class="fa-stack fa-4x program-card-logo">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fa-solid fa-seedling fa-stack-1x"></i>
			</span>
			<h2 class="fw-bold">Seed Funding</h2>
			<div class="card-body">
				<p class="card-text">Coming soon!</p>
			</div>
		</div>
		<div class="card program-card p-3 shadow">
			<span class="fa-stack fa-4x program-card-logo">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fa-solid fa-store fa-stack-1x"></i>
			</span>
			<h2 class="fw-bold">Ecomart</h2>
			<div class="card-body">
				<p class="card-text">Coming soon!</p>
			</div>
		</div>
	</div>
</div>

<!-- Pricing Section -->
<div class="" style="margin-top: 100px;" id="pricing-section">
	<h1 class="fw-bold text-center">Pricing</h1>
	<div class="d-flex">
		<!-- Basic -->
		<div class="col-4">
			<div class="card pricing-card p-3 m-3 shadow">
				<span class="price-category px-3 fw-bold" style="background: #5CCE8A">Basic</span>
				<div class="price-header text-center">
					<h2 class="fs-1 fw-bold">Free</h2>
					<h3 class="fs-5 text-muted">Lifetime</h3>
				</div>
				<div class="card-body">
					<ul class="list-unstyled">
						<li class="my-3 d-flex">
							<div class="col-2">
								<span class="fa-stack fa-1x">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fa-solid fa-check fa-stack-1x"></i>
								</span>
							</div>
							<div class="col-10 fw-bold">
								3 courses/ month
							</div>
						</li>
						<li class="my-3 d-flex">
							<div class="col-2">
								<span class="fa-stack fa-1x">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fa-solid fa-check fa-stack-1x"></i>
								</span>
							</div>
							<div class="col-10 fw-bold">
								Limited time for finishing courses
							</div>
						</li>
						<li class="my-3 d-flex">
							<div class="col-2">
								<span class="fa-stack fa-1x">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fa-solid fa-check fa-stack-1x"></i>
								</span>
							</div>
							<div class="col-10 fw-bold">
								Campaign funding opportunity < SGD $200/ 6 months
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Standard -->
		<div class="col-4">
			<div class="card pricing-card p-3 m-3 shadow">
				<span class="price-category px-3 fw-bold" style="background: #C4C4C4">Standard</span>
				<div class="price-header text-center px-5">
					<h2 class="fs-1 fw-bold"><span class="small-text-price">$</span>13.99<span class="small-text-price">/month</span></h2>
					<h3 class="fs-5 text-muted">Billed annually or $17 month-to-month</h3>
				</div>
				<div class="card-body">
					<ul class="list-unstyled">
						<li class="my-3 d-flex">
							<div class="col-2">
								<span class="fa-stack fa-1x">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fa-solid fa-check fa-stack-1x"></i>
								</span>
							</div>
							<div class="col-10 fw-bold">
								Unlimited courses
							</div>
						</li>
						<li class="my-3 d-flex">
							<div class="col-2">
								<span class="fa-stack fa-1x">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fa-solid fa-check fa-stack-1x"></i>
								</span>
							</div>
							<div class="col-10 fw-bold">
								Unlimited time for finishing courses
							</div>
						</li>
						<li class="my-3 d-flex">
							<div class="col-2">
								<span class="fa-stack fa-1x">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fa-solid fa-check fa-stack-1x"></i>
								</span>
							</div>
							<div class="col-10 fw-bold">
								Certificate of achievement
							</div>
						</li>
						<li class="my-3 d-flex">
							<div class="col-2">
								<span class="fa-stack fa-1x">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fa-solid fa-check fa-stack-1x"></i>
								</span>
							</div>
							<div class="col-10 fw-bold">
								Courses summary
							</div>
						</li>
						<li class="my-3 d-flex">
							<div class="col-2">
								<span class="fa-stack fa-1x">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fa-solid fa-check fa-stack-1x"></i>
								</span>
							</div>
							<div class="col-10 fw-bold">
								Campaign funding opportunity < SGD $500/ 6 months
							</div>
						</li>
						<li class="my-3 d-flex">
							<div class="col-2">
								<span class="fa-stack fa-1x">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fa-solid fa-check fa-stack-1x"></i>
								</span>
							</div>
							<div class="col-10 fw-bold">
								Money back guaranty
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Premium -->
		<div class="col-4">
			<div class="card pricing-card p-3 m-3 shadow">
				<span class="price-category px-3 fw-bold" style="background: #F0D800">Premium</span>
				<div class="price-header text-center px-5">
					<h2 class="fs-1 fw-bold"><span class="small-text-price">$</span>19.99<span class="small-text-price">/month</span></h2>
					<h3 class="fs-5 text-muted">Billed annually or $23 month-to-month</h3>
				</div>
				<div class="card-body">
					<ul class="list-unstyled">
						<li class="my-3 d-flex">
							<div class="col-2">
								<span class="fa-stack fa-1x">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fa-solid fa-check fa-stack-1x"></i>
								</span>
							</div>
							<div class="col-10 fw-bold">
								Unlimited courses
							</div>
						</li>
						<li class="my-3 d-flex">
							<div class="col-2">
								<span class="fa-stack fa-1x">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fa-solid fa-check fa-stack-1x"></i>
								</span>
							</div>
							<div class="col-10 fw-bold">
								Unlimited time for finishing courses
							</div>
						</li>
						<li class="my-3 d-flex">
							<div class="col-2">
								<span class="fa-stack fa-1x">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fa-solid fa-check fa-stack-1x"></i>
								</span>
							</div>
							<div class="col-10 fw-bold">
								Certificate of achievement
							</div>
						</li>
						<li class="my-3 d-flex">
							<div class="col-2">
								<span class="fa-stack fa-1x">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fa-solid fa-check fa-stack-1x"></i>
								</span>
							</div>
							<div class="col-10 fw-bold">
								Courses summary
							</div>
						</li>
						<li class="my-3 d-flex">
							<div class="col-2">
								<span class="fa-stack fa-1x">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fa-solid fa-check fa-stack-1x"></i>
								</span>
							</div>
							<div class="col-10 fw-bold">
								Campaign funding opportunity < SGD $700/ 6 months
							</div>
						</li>
						<li class="my-3 d-flex">
							<div class="col-2">
								<span class="fa-stack fa-1x">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fa-solid fa-check fa-stack-1x"></i>
								</span>
							</div>
							<div class="col-10 fw-bold">
								Special event invitation
							</div>
						</li>
						<li class="my-3 d-flex">
							<div class="col-2">
								<span class="fa-stack fa-1x">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fa-solid fa-check fa-stack-1x"></i>
								</span>
							</div>
							<div class="col-10 fw-bold">
								Private mentorship
							</div>
						</li>
						<li class="my-3 d-flex">
							<div class="col-2">
								<span class="fa-stack fa-1x">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fa-solid fa-check fa-stack-1x"></i>
								</span>
							</div>
							<div class="col-10 fw-bold">
								Money back guaranty
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}