{% extends 'base.html' %} {% load static %}

{% block content %} 

<div class="d-flex" style="height: 100vh">
  <div class="col-7 p-5 mt-5">
		<h1 class="fw-bold">Let’s Hack The Climate Through Education!</h1>
		<h2 class="fs-4">Elevate your knowledge through environmental related course here, and let’s hack the climate with us for the better world!</h2>
		<button type="button" class="btn get-started-btn my-5">
			<a class="text-white fw-bold text-decoration-none p-3" href="{% url 'page:homepage' %}">Get Started</a>
		</button>
		<button type="button" class="btn pricing-btn my-5 mx-3">
			<a class="fw-bold text-decoration-none p-3" href="{% url 'page:homepage' %}">Pricing</a>
		</button>
	</div>
	<div class="col-5 p-5">
		<img class="img-fluid" src="{% static 'img/cc1.jpg' %}" alt="ClimateCare" />
	</div>
</div>

<div class="px-5" style="height: 100vh">
  <div class="col-12 text-center">
		<h1 class="fw-bold">About Us</h1>
		<h2 class="fs-4 my-5"><b>ClimateCare</b> is a platform to learn everything related to climate change. Our goals is to educate people to be more sensitive and willing to take steps with us in fighting climate change for the common good and a better earth through education.</h2>
	</div>
	<div class="d-flex text-center">
		<div class="col-3">
			<span class="fa-stack fa-3x">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fa-solid fa-earth-asia fa-stack-1x"></i>
			</span>
			<h3 class="fs-5 fw-bold mt-3">Hack the climate!</h3>
		</div>
		<div class="col-3">
			<span class="fa-stack fa-3x">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fa-solid fa-location-dot fa-stack-1x"></i>
			</span>
			<h3 class="fs-5 fw-bold mt-3">Learn anywhere</h3>
		</div>
		<div class="col-3">
			<span class="fa-stack fa-3x">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fa-solid fa-clock fa-stack-1x"></i>
			</span>
			<h3 class="fs-5 fw-bold mt-3">Learn anytime</h3>
		</div>
		<div class="col-3">
			<span class="fa-stack fa-3x">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fa-solid fa-people-group fa-stack-1x"></i>
			</span>
			<h3 class="fs-5 fw-bold mt-3">Meet other learners</h3>
		</div>
	</div>
</div>

{% endblock content %}