/* Body */
body{
  font-family: 'Nunito', sans-serif;
}

/* Navbar */
.nav-link-text{
  color: #8D8B8B;
}

.get-started-btn{
	width: 150px;
	height: 54px;
	background-color: #008937;    
	border-radius: 40px;
}

.pricing-btn{
	width: 150px;
	height: 54px;
	border: 3px solid #008937;
	background-color: white;
	border-radius: 40px;
}

.pricing-btn a{
	color: #008937;
}

.fa-circle{
	color: #008937;
}

.about-us-content-logo{
	filter:drop-shadow(3px 3px 5px rgb(100, 100, 100))
}

.fa-earth-asia,
.fa-location-dot,
.fa-clock,
.fa-people-group,
.fa-graduation-cap,
.fa-bullhorn,
.fa-seedling,
.fa-store,
.fa-check{
	color: white;
}

.program-card-logo {
	position: absolute;
	top: -80px;
	left: 50%;
	transform: translateX(-50%)
}

.program-card{
	height: 250px;
	width: 30%;
	border-radius: 30px;
}

.pricing-card{
	height: 700px;
	border-radius: 30px;
}

.small-text-price{
	font-size: 1rem;
}

.price-header{
	margin-top: 100px;
}

.price-category {
    color: #fff;
	font-size: 32px;
	width: 250px;
	height: 50px;
	display: block;
	/* -webkit-clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%); */
	clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
	margin-top: 20px;
	margin-left: -17px;
	position: absolute;
}

.footer{
	background-color: #5CCE8A;
}