/* Body */
body{
  font-family: 'Nunito', sans-serif;
}

/* Navbar */
.nav-link-text{
  color: #8D8B8B;
}

.get-started-btn{
	width: 150px;
	height: 54px;
	background-color: #008937;    
	border-radius: 40px;
}

.pricing-btn{
	width: 150px;
	height: 54px;
	border: 3px solid #008937;
	background-color: white;
	border-radius: 40px;
}

.pricing-btn a{
	color: #008937;
}

.fa-circle{
	color: #008937;
}

.fa-earth-asia,
.fa-location-dot,
.fa-clock,
.fa-people-group{
	color: white;
}
